---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
helmCharts:
  - name: kubelet-csr-approver
    repo: https://postfinance.github.io/kubelet-csr-approver
    version: 0.2.4
    releaseName: kubelet-csr-approver
    namespace: kube-system
    valuesInline:
      providerIpPrefixes:
        - 192.168.0.0/16
      bypassDnsResolution: true
      providerRegex: |
        ^(rory|amy|river|donna|k9)$
commonAnnotations:
  meta.helm.sh/release-name: kubelet-csr-approver
  meta.helm.sh/release-namespace: kube-system
commonLabels:
  app.kubernetes.io/managed-by: Helm
